/*-- scss:rules --*/

body {
    background-image: url("img/background.jpg");
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white
   }
